<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div>
    <ul>
        <li>
            <a href="/protected">Protected page (ADMIN)</a>
        </li>
        <li>
            <a href="/normal">Normal page (USER)</a>
        </li>
        <li>
            <a href="/auth/logoutPage">Logout</a>
        </li>
    </ul>
</div>
