<div class="container">
	<form  name="userLoginForm" ng-submit="login(credentials)">
        <input type="text" required ng-model="credentials.username"/>
        <input type="password" required ng-model="credentials.password"/>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>