body { padding-top: 10px; }

path.c3-shape.c3-line.c3-line-resultValue {
	stroke-width: 2px;
}

.c3-ygrid-line.grid-mean line {
    stroke: green;
    stroke-width: 1px;
}

.c3-ygrid-line.grid-1SD line {
    stroke-dasharray: 3,3;
    stroke: RGB(128, 0, 128);
    stroke-width: 1px;
}

.c3-ygrid-line.grid-2SD line {
    stroke: orange;
    stroke-dasharray: 5,5;
}

.c3-ygrid-line.grid-3SD line {
    stroke: red;
    stroke-dasharray: 10,10;
}

.verticle-line {
	display: inline;
	 border-right: 1px solid #333;
	 margin: 5px;
}

.modal-backdrop.am-fade {
	opacity: .5;
	transition: opacity .15s linear;
	&.ng-enter {
		opacity: 0;
		&.ng-enter-active {
			opacity: .5;
		}
	}
	&.ng-leave {
		opacity: .5;
		&.ng-leave-active {
			opacity: 0;
		}
	}
}